[submodule "submodules/tmux"]
	path = submodules/tmux
	url = git://tmux.git.sourceforge.net/gitroot/tmux/tmux
[submodule "submodules/libevent"]
	path = submodules/libevent
	url = git://levent.git.sourceforge.net/gitroot/levent/libevent
[submodule "submodules/zsh"]
	path = submodules/zsh
	url = git://github.com/zsh-users/zsh.git
[submodule "submodules/goagent"]
	path = submodules/goagent
	url = git://github.com/goagent/goagent.git
