[user]
	name = Tw
	email = tw19881113@gmail.com
[core]
	pager = less -F -X
	autocrlf = input
[color]
	ui = true
[alias]
	st = status
	sa = stash
	fe = fetch
	sm = submodule
	srb = svn rebase
	rb = rebase
	ci = commit -s
	sci = svn dcommit
	co = checkout
	di = diff
	br = branch
	me = merge --no-ff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ds = diff --staged
	amend = commit --amend -C HEAD
	undo = reset --soft HEAD^
	; to edit history after the latest merge/branch point, but not rebase (moving the branch point in process)
	ri = "!sh -c 't=\"${1:-master}\"; s=\"${2:-HEAD}\" ; [ $# -gt 0 ] && shift ; [ $# -gt 0 ] && shift ; git rebase --interactive \"$(git merge-base --is-ancestor \"$t\" \"$s\" && git rev-parse \"$t\" || git merge-base \"$t\" \"$s\")\" \"$@\"' -"
	;golang stuff
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
[apply]
	whitespace = fix
[push]
	default = tracking
[init]
	templatedir = ~/.git-template
[http]
	;golang stuff
	cookiefile = /home/tw/.gitcookies
[credential]
	helper = store
