[user]
	name = Tw
	email = tw19881113@gmail.com
[core]
	editor = vim
	autocrlf = input
[color]
	ui = true
[alias]
	st = status
	sa = stash
	fe = fetch
	sm = submodule
	srb = svn rebase
	rb = rebase
	ci = commit -s
	sci = svn dcommit
	co = checkout
	di = diff
	br = branch
	me = merge --no-ff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ds = diff --staged
	amend = commit --amend -C HEAD
	undo = reset --soft HEAD^
[apply]
	whitespace = fix
[push]
	default = tracking
