! uxterm normal font
UXTerm*faceName: Source Code Pro:size=10
! Chinese font
UXTerm*faceNameDoublesize: WenQuanYi Micro Hei:size=10

Rxvt*font: xft:Source Code Pro:size=10,xft:WenQuanYi Micro Hei:size=10
Rxvt*scrollBar: False
Rxvt*foreground: Black
Rxvt*background: rgba:ffff/ffff/d700/ffff

! fix alt key input
xterm*eightBitInput: false
xterm*altSendsEscape: true

! copy&paste from clipboard
*VT100*translations: #override \n\
Shift <KeyPress> Insert:insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
~Shift~Ctrl<Btn2Up>: insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
~Shift<BtnUp>: select-end(CLIPBOARD, CUT_BUFFER1) 

! allow sendevent from xserver to support wm key remap
xterm*allowSendEvents: true
