! uxterm normal font
UXTerm*faceName: Source Code Pro:size=10
! Chinese font
UXTerm*faceNameDoublesize: WenQuanYi Micro Hei:size=10

Rxvt*font: xft:Go Mono:size=10,xft:WenQuanYi Micro Hei:size=10
Rxvt*scrollBar: False
Rxvt*foreground: Black
Rxvt*background: rgba:ffff/ffff/d700/ffff
Rxvt*cursorBlink: true

! sync primary and clipboard section
URxvt.perl-ext-common: selection-to-clipboard

!! black dark/light
*color0: #073642
*color8: #002b36
!! red dark/light
*color1: #dc322f
*color9: #cb4b16
!! green dark/light
*color2: #859900
*color10: #586e75
!! yellow dark/light
*color3: #b58900
*color11: #657b83
!! blue dark/light
*color4: #268bd2
*color12: #839496
!! magenta dark/light
*color5: #d33682
*color13: #6c71c4
!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1
!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

! fix alt key input
xterm*eightBitInput: false
xterm*altSendsEscape: true

! copy&paste from clipboard
*VT100*translations: #override \n\
Shift <KeyPress> Insert:insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
~Shift~Ctrl<Btn2Up>: insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
~Shift<BtnUp>: select-end(CLIPBOARD, CUT_BUFFER1) 

! allow sendevent from xserver to support wm key remap
xterm*allowSendEvents: true
